# Auto detect text files and perform LF normalization
* text=auto
#hello
a.	Title
b.	Keywords
c.	Abstract
d.	Introduction
e.	Methods
f.	Results
g.	Discussion 
end of discussion
one more comment to add
bli bla blub
zfzhfkj
