# Auto detect text files and perform LF normalization
* text=auto
#hello
a.	Title
b.	Keywords
c.	Abstract
d.	Introduction
e.	Methods
f.	Results
g.	Discussion 
end of discussion
one more comment to add
bli bla blub
zfzhfkj
kdkfjnjelfij

This task took me about 2 hours. It mostly worked but the last part with the sharing didn't really work. My friend could not see what my changes were and vice versa.